{{#if addNewRental}}
  <h1>New Rental</h1>
  <div>
    <form {{action 'saveRental1' on='submit'}}>
      <div class="form-group">
        <label for="owner">Owner</label>
        {{input required="required" value=owner id="owner"}}
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        {{input required="required" value=type id="type"}}
      </div>

      <div class="form-group">
        <label for="city">City</label>
        {{input required="required" value=city id="city"}}
      </div>

      <div class="form-group">
        <label for="bedrooms">Number of Bedrooms</label>
        {{input required="required" value=bedrooms id="bedrooms"}}
      </div>

      <div class="form-group">
        <label for="price">Rental Price</label>
        {{input required="required" value=price id="price"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input required="required" value=image id="image"}}
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        {{input required="required" value=description id="description"}}
      </div>

      <button class="btn btn-default">Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-default" {{action 'rentalFormShow'}}>New Rental</button>
{{/if}}
